:root {
  --Heather:#bdc3c7;
  --Bluewood:#2c3e50;
  --Moderate-Pink: #c33764;
  --Very-Dark-Blue: #1d2671;
  --Blackish-Blue: #141e30;
  --Softy-Cyan: #6dd5ed;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  background: linear-gradient(
    -45deg,
    #bdc3c7,
    #2c3e50,
    #c33764,
    #1d2671,
    #141e30,
    #6dd5ed
  );
  background-size: 400% 400%;
  animation: backgroundChange0 15s ease infinite;
}

@keyframes backgroundChange0 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.UpliftTitle {
  font-size: 5rem;
  font-weight: 700;
  font-family: 'adelle-serif', serif;
  color: var(--Heather);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}






/* DropDownEmotion CSS */


.scrollable-dropdown {
  max-height: 200px; /* Set a desired height for the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: var(--Moderate-Pink);
}

.p {
  /* Add your desired styles for the text */
  font-family: Arial, sans-serif;
  font-size: 15px;
  /* Add any other styles you want */
}

.dropdown-container {
  max-height: 200px; /* Set the maximum height of the dropdown container */
  overflow-y: auto; /* Enable vertical scrolling for the container if the items exceed the height */
  background-color: var(--Moderate-Pink); /* Set the background color of the dropdown container */
  padding: 10px; /* Add some padding to the container */
}

.dropdown-container .dropdown-item {
  display: flex; /* Use flexbox to align the checkbox and item text */
  align-items: center; /* Align items vertically */
}

.dropdown-container .dropdown-item input[type="checkbox"] {
  margin-right: 10px; /* Add some spacing between the checkbox and item text */
}

.dropdown-container .dropdown-item:hover,
.dropdown-container .dropdown-item:focus {
  background-color: var(--Softy-Cyan); /* Change the background color of the items on hover/focus */
  border-radius: 5px;
}

.dropdown-container .dropdown-item.active {
  background-color: var(--Moderate-Pink); /* Change the background color of the active item */
}







/* Styling for the result container */
.result-text {
  font-family: monospace, sans-serif;
  font-size: 15px;
  padding: 10px;
  background-color: var(--Softy-Cyan);
  color: var(--Blackish-Blue);
  border-radius: 5px;
  margin-top: 10px;
}

