:root {
  --Heather: #bdc3c7;
  --Bluewood: #2c3e50;
  --Moderate-Pink: #c33764;
  --Very-Dark-Blue: #1d2671;
  --Blackish-Blue: #141e30;
  --Softy-Cyan: #6dd5ed;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  background: linear-gradient(-45deg, #bdc3c7, #2c3e50, #c33764, #1d2671, #141e30, #6dd5ed);
  background-size: 400% 400%;
  animation: backgroundChange0 15s ease infinite;
}

@keyframes backgroundChange0 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Navbar CSS */

.app-navbar-wrapper {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.app-navbar-wrapper .ml-auto {
  margin-left: auto;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  color: var(--Heather);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Title on Home CSS */
.UpliftTitle {
  font-size: 5rem;
  font-weight: 700;
  font-family: 'adelle-serif', serif;
  color: var(--Heather);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

/* DropDownEmotion CSS */

.scrollable-dropdown {
  max-height: 150px; /* Set a desired height for the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
  /* limit dropdown height */
  
}

.p {
  /* Add your desired styles for the text */
  font-family: Arial, sans-serif;
  font-size: 15px;
  /* Add any other styles you want */
}

.dropdown-container {
  max-height: 200px; /* Set the maximum height of the dropdown container */
  overflow-y: auto; /* Enable vertical scrolling for the container if the items exceed the height */
   /* Set the background color of the dropdown container */
  padding: 10px; /* Add some padding to the container */
}

.dropdown-container .dropdown-item {
  display: flex; /* Use flexbox to align the checkbox and item text */
  align-items: center; /* Align items vertically */
  
}

.dropdown-container .dropdown-item input[type='checkbox'] {
  margin-right: 10px; /* Add some spacing between the checkbox and item text */
}

.dropdown-container .dropdown-item:hover,
.dropdown-container .dropdown-item:focus {
  background-color: var(--Softy-Cyan); /* Change the background color of the items on hover/focus */
  border-radius: 5px;
}

.dropdown-container .dropdown-item.active {
  background-color: var(--Moderate-Pink); /* Change the background color of the active item */
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--Very-Dark-Blue) !important;
  --bs-btn-border-color: var(--Moderate-Pink) !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--Softy-Cyan) !important;
  --bs-btn-hover-border-color: var(--Moderate-Pink) !important;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--Very-Dark-Blue) !important;
  --bs-btn-active-border-color: var(--Moderate-Pink) !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--Very-Dark-Blue) !important;
  --bs-btn-disabled-border-color: var(--Moderate-Pink) !important;
}

/* Styling for the result container */
.result-text {
  font-family: monospace, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  background-color: var(--Softy-Cyan);
  color: var(--Blackish-Blue);
  border-radius: 5px;
  margin-top: 10px;
}

/* Footer CSS */

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1e2124;
  color: var(--Heather);
  text-align: center;
  font-family: 'adelle-serif', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  margin: 0 10px;
  padding: 5px;
}